@import "react-big-calendar/lib/css/react-big-calendar.css";

.rbc-today {
  background-color: #00a1df60;
}

.rbc-off-range-bg {
  background-color: #00a1df30;
}

.rbc-header {
  border-bottom: 0.5px solid #d3d3d3;
}

.rbc-day-bg + .rbc-day-bg {
  border-left: 0.5px solid #d3d3d3;
}

.rbc-month-row + .rbc-month-row {
  border-top: 0.5px solid #d3d3d3;
}

.rbc-header + .rbc-header {
  border-bottom: 0.5px solid #d3d3d3;
  border-left: 0.5px solid #d3d3d3;
}

.rbc-header {
  font-weight: 600;
}

.rbc-toolbar button {
  border: 0.5px solid #d3d3d3;
}

.rbc-month-view {
  border: 0.5px solid #d3d3d3;
}

.rbc-agenda-view table.rbc-agenda-table {
  border: 0.5px solid #d3d3d3;
}

.rbc-agenda-view table.rbc-agenda-table thead > tr > th {
  border-bottom: 0.5px solid #d3d3d3;
}
